{% extends "base.html" %}
{% block content %}
    <h2 class="mt-3"> Sudoku Solver with OCR </h2>

    <p> Welcome, this is an Optical Character recognition(OCR) sudoku solver 
    <br> Simply upload a clear image of the Sudoku board and let the AI do the rest </p> 
        
    

    
    <form method="post" enctype="multipart/form-data">

        <div class="row">
          <div class="col">
            <input class="form-control" type="file" name="file1" id="formFile">
          </div>
          <div class="col">
            <input class="btn btn-outline-primary" type=submit value=Predict>
          </div>
        </div>        
    </form>

    <img class="mt-3 invisible" id="output" width="400" height="400"/>

    <script>

        let sudoku = document.getElementById('formFile')

        let loadFile = function(event) {
            var image = document.getElementById('output');
            image.classList.replace('invisible', 'visible')
            image.src = URL.createObjectURL(event.target.files[0]);
        };

        sudoku.addEventListener('change', loadFile)

    </script>


{% endblock %}

