{% extends "base.html" %}
{% block content %}

    <h1> OCR steps to solve sudoku</h1>

    <P> The following are the steps taken by the OCR solver: </p> 

    {% for item in data %}
        <img src={{item.image|safe}} alt="User Image"  width="400" height="400">
        <p> {{item.text}} </p>
    {% endfor %}

    <h2> Digits and their corresponding predicted values: </h2>

    {% for digit, pred in digits %}
        <img src="static/digits/{{digit|safe}}" alt="User Image">
        <p> Image was predicted as {{pred}} </p>
    {% endfor %}

{% endblock %}